body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f4f5f6;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  font-size: 2em;
  margin-bottom: 50px;
  /* background-image: url("media/Blue_gradient.svg"); background-color: #8ecae6;*/
  background-image: linear-gradient(to top, rgba(142,202,230,0), rgba(142,202,230,1));
  color: #023047;
  
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
  text-align: left;
  text-indent: 30px; 
}

.paragraph-container p {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.paragraph-container p.visible {
  opacity: 1;
  transform: translateY(0);
}

.video-container {
  position: relative;
  margin: 50px 0;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s ease;
}

.video-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.video-container p {   
  text-align: center;
  /*
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;*/
  font-size: 1em;
  margin-left: 15%;
  margin-right: 15%;
}

.video-container h2 {
  text-align: center;
  margin-top: 10px;
  font-size: 1em;
  margin-left: 15%;
  margin-right: 15%;
}

.video-container video {
  width: 50%;
  max-width: 50%;
  height: auto;
}

.footer {
display: flex;
flex-flow: row wrap;
padding: 30px 30px 20px 30px;
color: #2f2f2f;
background-color: white;
}

.footer > * {
flex: 1 100%;
}

.footer-legal-copyright {
  margin-right: 30px;
  float: left;
  margin-top: 3px;
}

.footer-legal-links {
float: left;
}

.footer-legal-links a {
border-right: 1px solid #d6d6d6;
margin-right: 10px;
padding-right: 12px;
display: inline-block;
margin-top: 3px;
white-space: nowrap;
color: #555;
}

.footer-legal-links a:last-child {
border-right: none;
}

.footer-legal-links a:hover {
color: #333;
}